.skills {
    padding: 0 0 50px 0;

    &_box {
        max-width: 100%;
        height: 50px;
        margin-bottom: 22px;
        padding: 6px;
        text-align: center;
        position: relative;
    }

}